body{
    font-family: cursive;
    text-align: center;
}

h1{
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(10, 207, 132);
}

p{
    font-weight: bold;
    font-style: normal;

}

form{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px 0px;
    border: 2px solid black;
}
input{
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 6px;
    width: 400px;
    border:2px solid black;
}
input[type="submit"]{
    cursor: pointer;
    border-radius: 20px;
    padding: 10px; 
    color: blue;
    font-weight: bold;
    font-style: italic;
}
